/* General */

* {
    font-family: 'Ubuntu', sans-serif;
}

@font-face {
    font-family: 'Orkney';
    src: url('../fonts/orkney-bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Heading-Pro-Wide';
    src: url('../fonts/Heading-Pro-Wide-Heavy-trial.ttf') format('truetype');
    font-weight: normal;
    font-style: bold;
}
@font-face {
    font-family: 'Orkney';
    src: url('../fonts/orkney-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #fff;
    height: 100%;
    margin: 0 auto;
}

/* Navbar */

.navbar {
    list-style-type: none;
    position: absolute;
    background-color: #FBFBFB;
    top: 0px;
    width: 100%;
}
  
.navbar li {
    display: inline;
}

.navbar li a {
    color:#E3211F;
    text-align: center;
    text-decoration: none;
    font-size: 16pt;
    font-family: Orkney;
    font-weight: bold;
}

.nopointer {
    cursor: default;
    margin-bottom: 15px;
}

.navbar .lesspadding  {
    padding-right: 2px;
}

.fab {
    font-size: 16px;
}

.social-icon {
    width: 40px;
}

#last-social-icon {
    margin-right: 36px;
}

/* Banner */

#banner {
    margin-top: 96px;
}

#banner img {
    width: 100vw;
}

/* Quem Sou */

.quem {
    display: flex;
}

.quem h1 {
    color: #E3211F;
    font-size: 65px;
    font-family: Heading-Pro-Wide;
    font-weight: bold;
    text-shadow: 0 8px 6px rgba(80, 80, 80, 0.2);
}

.quem p {
    font-size: 22px;
}

.quem-img {
    width: 45%;
    /* height: 80vh; */
    background-image: url("../images/JOSÉ AIRTON_FOTO VELA 700 x 927.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#paragrafos {
    width: 55%;
    padding: 60px;
    padding-right: 15px;
    padding-bottom: 0px;
    line-height: 2;
}

/* Quem Sou */

#banner-atuacao {
    width: 100%;
}

/* Social Media Section */

.fale-comigo {
    background: linear-gradient(0.20turn, #f09218, #f8d41f, #f09218, #ff3333, #d8241c, #ff3333);
    color: white;
    margin-top: 24px;
    padding: 16px 0;
}

.fale-comigo-container {
    display: flex;
    justify-content: center;
}

#fale-comigo-l {
    margin-right: 12px;
    text-align: center;
    font-family: 'Orkney';
    font-weight: bold;
    font-size: 14px;
}

#fale-comigo-l img {
    height: 180px;
}

#fale-comigo-r {
    padding-left: 12px;
    text-align: center;
}

#fale-comigo-r p {
    margin-bottom: 0;
    font-family: 'Orkney';
    font-weight: bold;
}

#fale-comigo-r h3 {
    font-weight: bold;
    text-shadow: 0 8px 6px rgba(80, 80, 80, 0.4);
    font-family: 'Heading-Pro-Wide';
    font-weight: bold;
    font-size: 22px;
}

#fale-comigo-r img {
    height: 48px;
    width: 240px;
    margin-bottom: 8px;
    display: block;
}

/* Footer Section */

.footer {
    text-align: center;
    padding: 12px 0;
    font-family: 'Orkney';
}

.footer img {
    width: 16%;
}
