/* General */
* {
    font-family: 'Ubuntu', sans-serif;
}



body {
    background-color: #fff;
    height: 100%;
    margin: 0 auto;
}


/* Navbar */

.navbar {
    list-style-type: none;
    /* margin: 35px; */
    /* padding: 0; */
    position: absolute;
    background-color: #FBFBFB;
    top: 0px;
    width: 100%;
}
  
.navbar li {
    display: inline;
}

.navbar li a {
    color:#E3211F;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: none;
    font-size: 14pt;
}

.nopointer {
    cursor: default;
    margin-bottom: 15px;
}

.navbar .lesspadding  {
    padding-right: 2px;
}

.fab {
    font-size: 16px;
}

/* Banner */

  
/* Quem Somos */

.quem {
    display: flex;
}

.quem h1 {
    color: #E3211F
}

#paragrafos {
    width: 50%;
}